body
{
    background-color: darkgray;
    margin: 0px;
    padding: 0px;
}

#Menu
{
    background-color: gray;
    float: left;
    width: 30%;
    


}

#Cuerpo
{
    background-color: darkgreen;
    float: right;
    width: 70%;
    
}